@model Advertisements.Infrastructures.ViewModels.Home.RightSideBarViewModel

@{
    const string selectedPage = "active";
    const string disabledLink = "disabled";
    var nextPage = @Model.SelectedPage + 1;
    var prevPage = @Model.SelectedPage - 1;
    var controllerName = ViewContext.RouteData.GetRequiredString("controller");
    var actionName = "Pagination";//ViewContext.RouteData.GetRequiredString("action");
}

<nav>
    <ul class="pagination">
        <li class="@if (@Model.SelectedPage <= 1)
                   {
                       @disabledLink
                   }" id="first">
            <a href="@Url.Action(actionName, controllerName, new {SelectedPage = 1, CategoryId = @Model.CategoryId, TownId = Model.TownId})">
                <span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span>
            </a>
        </li>

        <li class="@if (@Model.SelectedPage <= 1)
                   {
                       @disabledLink
                   }" id="prev">
            <a href="@Url.Action(actionName, controllerName, new {SelectedPage = prevPage, CategoryId = @Model.CategoryId, TownId = Model.TownId})">
                <span aria-hidden="true">&lsaquo;</span><span class="sr-only">Previous</span>
            </a>
        </li>

        @for (int i = 1; i <= Model.NumberOfPages; i++)
        {
            <li class="@if (Model.SelectedPage == i)
                       {
                           @selectedPage
                       }">
                @Html.ActionLink(i.ToString(), actionName, new
                {
                    controller = controllerName,
                    area = string.Empty,
                    SelectedPage = i,
                    CategoryId = Model.CategoryId,
                    TownId = Model.TownId
                }, new {@class = "btn btn-primary"})
            </li>
        }

        <li class="@if (@Model.SelectedPage >= Model.NumberOfPages)
                   {
                       @disabledLink
                   }" id="next">
            <a href="@Url.Action(actionName, controllerName, new {SelectedPage = nextPage, CategoryId = @Model.CategoryId, TownId = Model.TownId})">
                <span aria-hidden="true">&rsaquo;</span><span class="sr-only">Next</span>
            </a>
        </li>

        <li class="@if (@Model.SelectedPage >= Model.NumberOfPages)
                   {
                       @disabledLink
                   }" id="last">
            <a href="@Url.Action(actionName, controllerName, new {SelectedPage = @Model.NumberOfPages, CategoryId = @Model.CategoryId, TownId = Model.TownId})">
                <span aria-hidden="true">&raquo;</span><span class="sr-only">Previous</span>
            </a>
        </li>
    </ul>
</nav>
<script type="text/javascript">
    $(".pagination .disabled a").on("click", function (e) {
        e.preventDefault();
    })
</script>
