@model Advertisements.Infrastructures.ViewModels.Home.IndexViewModel

@{
    ViewBag.Title = "Ads - Home";
}

<header>
    <h2 class="text-center">@ViewBag.Title</h2>
</header>

<div id="all-ads" class="jumbotron">
    @Html.Partial("_Pagination", @Model.RightSideBarViewModel)
    @Html.Partial("_Advertisement", @Model.AdsIndexViewModel)
</div>

@section MyAdsLeftSidebar
{
    @Html.Partial("MyAdsLeftSidebar")
}

@section Navigation
{
    @Html.Partial("_Navigation")
}