@using Advertisements.Models

<div class="well">
    <fieldset>
        <legend>My Ads</legend>
        <div class="btn-group-vertical">
            @Html.ActionLink("All", "Pagination", "Advertisements", new { status = "" },  new { @class = "btn btn-default" })
            @Html.ActionLink("Inactive", "Pagination", "Advertisements", new { status = AdvertisementStatus.Inactive }, new { @class = "btn btn-default" })
            @Html.ActionLink("WaitingApproval", "Pagination", "Advertisements", new { status = AdvertisementStatus.WaitingApproval }, new { @class = "btn btn-default" })
            @Html.ActionLink("Published", "Pagination", "Advertisements", new { status = AdvertisementStatus.Published }, new { @class = "btn btn-default" })
            @Html.ActionLink("Rejected", "Pagination", "Advertisements", new { status = AdvertisementStatus.Rejected }, new { @class = "btn btn-default" })
        </div>
    </fieldset>
</div>
